.poetry {
    width: 450px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.poetry h1, h2 {
    width: max-content;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.poetry h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.poetry span {
    width: max-content;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.poetry span.left {
    margin-left: 0;
    margin-right: auto ;
}

.poetry h2.left, h1.left {
    margin-left: 7.5%;
    margin-right: auto ;
}

.poetry .attribution {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
    padding-left: 2cm;
}